<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>github api</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
</head>

<body ng-app="app1">

    <div ng-controller="mainCtrl" class="main">
        <input type="text" ng-model="userInput" spellcheck="false" placeholder="Enter user id">
        <button class="btn" ng-click="updateValue()">Get repos</button>
        <p ng-model="reposCount">{{reposCount}}</p>
    </div>

    <script src=app.js "">
    </script>
</body>

</html>